

html {
    font-size: 10px;
  }
  
.card-img-top {

    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
   
}


.card {

    width: 220px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #FAFAFA;
    padding-bottom: 15px;
    border-radius: 10px;
    
}


.card-body{
    /* width: 220px;  */
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;

}

.card-price{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2.0rem;
    line-height: 2.5rem;
    position: relative;
}

.card-wight{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.0rem;
}

.wrapper-name {
    height: 65px;
    padding-top: 5px;
}

.card-name{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 2.0rem;
}


.btn-primary {
    background-color: #FAFAFA;
    border: 2px solid #F1CDB3;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px 20px;
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 2.2rem;

}

.btn-primary:hover {
    background: #F1CDB3;
  }




.btns{
    width: 220px; 
    display: flex;
    position: relative;

}


.like {
    position: absolute;
    right: 20px;
    bottom: 5px;
    display: flex;
    gap: 3px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 1.4rem;
    line-height: 1.4rem;
}