.cardlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 30px;
    row-gap: 30px;
    margin-top: 10px;
    padding-left: 35px;
    padding-bottom: 30px;
    

}


.total {

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    flex-direction: column; 
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;

}

