
html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}


body {
  margin: 0;

}

.App {
  text-align: center;
}


/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
